<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <style>
        .container {
            width: 80%;
            margin: 0 auto;
        }
    </style>

</head>

<body style="font-family:arial, sans-serif">
    <div class="container">
        <h2 style="text-align: center;">对鸢尾花数据挖掘与分析</h2>
        <h3>1.散点图</h3>
        <div id="chart" class="chart"></div>
        <p>由散点图可知鸢尾花花萼的长度和宽度大致集中在宽：2.5~3.5;长：4.5~7之间,最宽的宽度宽达4.4，最长的长度长达7.9</p>
        <h3>2.根据种类划分散点图</h3>
        <div id="chart1" class="chart"></div>
            <p>由按颜色显示的散点图可知鸢尾花总共有三种，可以看到，versicolor品种和virginica品种花萼长度和宽度几乎差不多，setosa品种花萼和其他两种差距较大</p>
        <h3>3.在散点图上添加频率分布直方图，散点图右添加rug图</h3>
        <div id="chart2" class="chart"></div>
            <p>由散点图可知不同种类的鸢尾花的大致分布情况, 而右侧的细条图和上侧的直方图,则十分清晰的描 述了不同品种的鸢尾花的花萼的宽和长的分布区间。</p>
            <h5>主要分布:</h5>
            <p>setosa品种花萼:长4.2-5.8,宽3-4.6</p>
            <p>versicolor品种花萼:长4.9-7,宽2-3.4</p>
            <p>virginica品种花萼:长4.9-7.9,宽2.2-3.8</p>
        <h3>4.等高线图</h3>
        <div id="chart3" class="chart"></div>
        <p>由等高线图可知鸢尾花花萼的长度和宽度大致集中在宽：2.5~3.5;长：4.5~7之间，且宽度为3，长度为6.79的鸢尾花累计数量最多</p>
        <h3>5.热力图</h3>
        <div id="chart4" class="chart"></div>
        <p>由热力图可知鸢尾花花萼的长度和宽度大致集中在宽：2.5~3.5;长：4.5~7之间，且宽度为2.8~3.2，长度为6.5~6.9的鸢尾花累计数量最多</p>
        <h3>6.平行坐标图（主要分析多维变量之间的关系）</h3>
        <div id="chart5" class="chart"></div>
        <p>由平行坐标图可知setosa品种鸢尾花花瓣长度和宽度和花萼的长度都高其他两种，但是它的花萼宽度不太宽，versicolor品种和它走向差不多；virginica品种花瓣的长度和宽度都不太长，但是其花萼的宽度属于佼佼者</p>
        <h3>7.矩阵散点图</h3>
        <div id="chart6" class="chart"></div>
        <p>由矩阵散点图可知鸢尾花花萼的长度和宽度大致集中在宽：2.5~3.5;长：4.5~7之间，且宽度为3，长度为6.79的鸢尾花累计数量最多</p>
        <h3>8.小提琴图</h3>
        <div id="chart7" class="chart"></div>
        <p>由小提琴图可知鸢尾花花萼的长度和宽度大致集中在宽：2.5~3.5;长：4.5~7之间，且宽度为3，长度为6.79的鸢尾花累计数量最多</p>
        <h3>9.箱型图</h3>
        <div id="chart8" class="chart"></div>
        <p>由箱型图可知鸢尾花花萼的长度和宽度大致集中在宽：2.5~3.5;长：4.5~7之间，且宽度为3，长度为6.79的鸢尾花累计数量最多</p>
        <h3>10.条形图</h3>
        <div id="chart9" class="chart"></div>
        <p>由条形图可知鸢尾花花萼的长度和宽度大致集中在宽：2.5~3.5;长：4.5~7之间，且宽度为3，长度为6.79的鸢尾花累计数量最多</p>
        <h3>11.直方图</h3>
        <div id="chart10" class="chart"></div>
        <p>由直方图可知鸢尾花花萼的长度和宽度大致集中在宽：2.5~3.5;长：4.5~7之间，且宽度为3，长度为6.79的鸢尾花累计数量最多</p>
        <h3>12.堆积区域图</h3>
        <div id="chart11" class="chart"></div>
        <p>由堆积区域图可知鸢尾花花萼的长度和宽度大致集中在宽：2.5~3.5;长：4.5~7之间，且宽度为3，长度为6.79的鸢尾花累计数量最多</p>
    </div>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});

</script>

<script>
    d1 = {{ graphJSON1 | safe }};
    Plotly.newPlot('chart1', d1, {});
</script>
<script>
    d2 = {{ graphJSON2 | safe }};
    Plotly.newPlot('chart2', d2, {});
</script>
<script>
    d3 = {{ graphJSON3 | safe }};
    Plotly.newPlot('chart3', d3, {});
</script>
<script>
    d4 = {{ graphJSON4 | safe }};
    Plotly.newPlot('chart4', d4, {});
</script>
 <script>
    d5 = {{ graphJSON5 | safe }};
    Plotly.newPlot('chart5', d5, {});
</script>
<script>
    d6 = {{ graphJSON6 | safe }};
    Plotly.newPlot('chart6', d6, {});
</script>
<script>
    d7 = {{ graphJSON7 | safe }};
    Plotly.newPlot('chart7', d7, {});
</script>
<script>
    d8 = {{ graphJSON8 | safe }};
    Plotly.newPlot('chart8', d8, {});
</script>
<script>
    d9 = {{ graphJSON9 | safe }};
    Plotly.newPlot('chart9', d9, {});
</script>
<script>
    d10 = {{ graphJSON10 | safe }};
    Plotly.newPlot('chart10', d10, {});
</script>
<script>
    d11 = {{ graphJSON11 | safe }};
    Plotly.newPlot('chart11', d11, {});
</script>
<!-- <script>
    d12 = {{ graphJSON12 | safe }};
    Plotly.newPlot('chart12', d12, {});
</script> -->
</html>