<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Resume stuff</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<!-- PAGE STUFF -->
<div class="rela-block page">
    <div class="top-bar">
        <div class="box">
            <p class="name">{{person.first_name}}</p>
            <p class="hope">求职意向：{{ person.hope }}</p>
        </div>
        <div class="box">
            <ul>
                <li>电话: {{ person.tel }}</li>
                <li>QQ: {{ person.qq }}</li>
                <li>Email: {{ person.email }}</li>
            </ul>
        </div>
        <div class="box3">
            <img src="/static/img/img_nono.jpg" alt="pjoto" class="avatar">
        </div>
    </div>

    <div class="rela-block content-container">
        <div class="container">
            <span class="about">{{person.capsname}}</span>
            <span class="onderline"></span>
            <p class="des">{{person.description}}</p>
        </div>

        {% for experience in person.experiences %}

        <div class="container">
            <span class="about">{{ experience.light }}</span>
            <span class="onderline"></span>
            <p class="des">{{ experience.justified }} </p>
        </div>
        {% endfor %}

        <p class="rela-block caps greyed"><a href="{{url_for('index')}}" target="_blank">近期作品</a></p>
    </div>
</div>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script><script  src="./script.js"></script>

</body>
</html>
